<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://cdn.lr-in-prod.com/LogRocket.min.js"
      crossorigin="anonymous"
    ></script>
    <script>
      window.LogRocket && window.LogRocket.init("rwfvin/tomblakeme");
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <script src="/login.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tom</title>
    <!--Meta Tags-->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:domain" content="tomblake.me" />
    <meta
      name="twitter:title"
      property="og:title"
      itemprop="name"
      content="Manage your account"
    />
    <meta
      name="twitter:description"
      property="og:description"
      itemprop="description"
      content="Manage your account"
    />
    <link rel="stylesheet" href="css.css" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  </head>
  <body>
    <div></div>
    <div id="frosted">
      <nav>
        <a href="/login" class="listLink" style="font-size: 1rem" id="loginInfo"
          >Not logged in</a
        >
        <ul>
          <li><a class="listLink" href="/">Home</a></li>
          <li><a class="listLink" href="/projects">Articles</a></li>
          <li><a class="listLink" href="/projects">Images</a></li>
        </ul>
      </nav>
      <!--Big header to draw attention-->
      <img
        id="MyAccountPfp"
        src="/api/avatar/<%= ProfilePicture %>"
        alt="pfp"
      />
      <header id="MyAccount">
        <h1>Welcome</h1>
        <h3>Manage your account</h3>
      </header>
      <!--Bio-->
      <div class="borders">
        <h3>Account</h3>
        <p>
          <a class="listLink" href="/Logout">Logout</a>
        </p>
      </div>
      <div class="borders">
        <% if (PfpRateLimit == false) { %>
        <h3 id="ChangepfpHeading">Add/Update profile picture</h3>
        <div id="LoadingScreenParent" class="hidden">
          <div style="margin-top: 5vh" id="dots" class="center"></div>
        </div>
        <form
          id="Changepfp"
          action="/api/upload/pfp"
          method="post"
          enctype="multipart/form-data"
        >
          <input id="fileButton" type="file" name="file" />
          <br />
          <br />
          <input id="submitButton" type="submit" value="Upload" />
        </form>
        <div id="Removepfp" class="borders">
          <h3>Remove Profile Picture</h3>
          <button onclick="RemovePFP()">Remove</button>
        </div>
        <p>You can only change your profile picture every 10 minutes</p>
        <% } else { %>
        <p>You last updated your profile picture less than 10 minutes ago</p>
        <% } %>
      </div>
      <div class="borders">
        <h3>Sessions</h3>
        <% for (i = 0; i < Sessions.length;i++) { %>
        <div class="borders">
          <h4>Session <%= i+1 %> <%= Sessions[i].CurrentSession %></h4>
          <ul>
            <li>
              <strong>Time Created: </strong>
              <%= Sessions[i].TimeCreated %>
            </li>
            <li>
              <strong>Last Login: </strong><%= Sessions[i].TimeLastUsed %>
            </li>
          </ul>
        </div>
        <% if (i != Sessions.length-1) {%>
        <hr />
        <% } %> <% }; %>
      </div>
      <div id="footer">
        <h3>Footer</h3>
        <!--Links-->
        <ul class="linkBar">
          <li>
            <a
              target="_blank"
              href="https://github.com/tommacode"
              class="listLink"
              >My Github</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://tomhasawebsite.com"
              class="listLink"
              >Other Website</a
            >
          </li>
          <li><a href="#" class="listLink">Back to the top!</a></li>
        </ul>
      </div>
    </div>
    <script>
      //Add an event listener to the #Changepfp form
      document
        .getElementById("Changepfp")
        .addEventListener("submit", function (e) {
          //Submit the form with AJAX
          e.preventDefault();
          document.getElementById("LoadingScreenParent").style.display =
            "block";
          document.getElementById("ChangepfpHeading").style.display = "none";
          document.getElementById("fileButton").style.display = "none";
          document.getElementById("submitButton").style.display = "none";
          document.getElementById("Removepfp").style.display = "none";
          var form = document.getElementById("Changepfp");
          var formData = new FormData(form);
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/api/upload/pfp");
          xhr.send(formData);
          xhr.onload = function () {
            if (xhr.status == 204) {
              //If the request was successful, reload the page
              location.reload();
            } else {
              //If the request was not successful, alert the user with the response text
              message = xhr.responseText;
              message = JSON.parse(message);
              alert(message.message);
              //Show the form again
              document.getElementById("LoadingScreenParent").style.display =
                "none";
              document.getElementById("ChangepfpHeading").style.display =
                "block";
              document.getElementById("fileButton").style.display = "block";
              document.getElementById("submitButton").style.display = "block";
              document.getElementById("Removepfp").style.display = "block";
            }
          };
        });

      function RemovePFP() {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/api/remove/pfp");
        xhr.send();
        xhr.onload = function () {
          if (xhr.status == 204) {
            //If the request was successful, reload the page
            location.reload();
          } else {
            //If the request was not successful, alert the user with the response text
            message = xhr.responseText;
            message = JSON.parse(message);
            alert(message.message);
          }
        };
      }
    </script>
  </body>
</html>
