<!DOCTYPE html>
<html lang="en">
  <head>
    <script
      src="https://cdn.lr-in-prod.com/LogRocket.min.js"
      crossorigin="anonymous"
    ></script>
    <script>
      window.LogRocket && window.LogRocket.init("rwfvin/tomblakeme");
    </script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap"
      rel="stylesheet"
    />
    <script src="/login.js"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add/Edit articles</title>
    <link rel="stylesheet" href="../css.css" />
    <link rel="stylesheet" href="../optionalStyling.css" />
  </head>
  <body>
    <div id="frosted">
      <nav>
        <a href="/login" class="listLink" style="font-size: 1rem" id="loginInfo"
          >Not logged in</a
        >
        <ul>
          <li><a class="listLink" href="/">Home</a></li>
          <li><a class="listLink" href="/projects">Articles</a></li>
          <li><a class="listLink" href="/Images">Images</a></li>
        </ul>
      </nav>
      <!--Big header to draw attention-->
      <header>
        <h1>Create article</h1>
        <h3>Create another article</h3>
      </header>
      <div id="create">
        <form>
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Title"
            class="textField"
          />
          <br />
          <input
            type="text"
            id="appetizer"
            placeholder="Appetizer"
            style="width: 15vw"
            class="textField"
          />
          <br />
          <textarea
            placeholder="Content"
            id="Content-field"
            style="width: 35vw"
            oninput="Preview()"
          ></textarea>
          <input
            type="text"
            id="tags"
            placeholder="Tags (Separate by commas)"
            style="width: 25vw"
            class="textField"
          />
          <br />
          <a type="button" onclick="SubmitNew()" id="clearBtn">Create</a>
        </form>
        <p style="display: none" id="Response"></p>
        <a
          id="VisOutput"
          onclick="VisChange()"
          style="text-decoration: none; cursor: pointer"
          >Public</a
        >
      </div>
      <div class="borders">
        <p id="previewContent">Preview</p>
      </div>
      <div class="borders">
        <h3>Document Stats</h3>
        <p><strong>Words: </strong><span id="wordcount">0</span></p>
        <p><strong>Characters: </strong><span id="charactercount">0</span></p>
      </div>
      <div class="borders">
        <form
          action="/api/upload/articlePhotos"
          method="POST"
          id="ImageUpload"
          enctype="multipart/form-data"
        >
          <input type="file" name="Image" id="Image" />
          <br />
          <input type="text" name="Name" id="Name" placeholder="Name" />
          <br />
          <button>Upload</button>
        </form>
      </div>
      <div class="borders">
        <h3>Images:</h3>
        <div id="images">
          <% for (i = 0; i < Images.length; i++) { %> <% if
          (Images[i].split('.')[1] == 'png' || Images[i].split('.')[1] == 'jpg')
          {%>
          <div class="borders" id="images<%- i %>">
            <img src="/photos/<%- Images[i] %>" alt="<%- Images[i] %>" />
            <br />
            <p style="float: left">Relative Path: /photos/<%- Images[i] %></p>
            <button
              style="float: right"
              class="clearBtn"
              onclick="ShowTag('<%- i %>')"
            >
              Show Tag
            </button>
            <br />
            <div class="hidden" id="<%- i %>Tag" style="text-align: center">
              <p>
                <code
                  >&ltimg src="/photos/<%- Images[i] %>" alt="<%- Images[i] %>"
                  /&gt</code
                >
              </p>
            </div>
          </div>
          <% } else if (Images[i].split('.')[1] == 'mp4') {%>
          <div class="borders">
            <video>
              <source src="/photos/<%- Images[i] %>" type="video/mp4" />
            </video>
            <p style="float: left">Relative Path: /photos/<%- Images[i] %></p>
            <button
              style="float: right"
              class="clearBtn"
              onclick="ShowTag('<%- i %>')"
            >
              Show Tag
            </button>
            <br />
            <div class="hidden" id="<%- i %>Tag" style="text-align: center">
              <br />
              <p>
                <code
                  >&ltvideo controls defer&gt &ltsource src="/photos/<%-
                  Images[i] %>" type="video/mp4" /&gt&lt/video &gt</code
                >
              </p>
            </div>
          </div>
          <% } %><% } %>
        </div>
      </div>
      <div id="footer">
        <h3>Footer</h3>
        <!--Links-->
        <ul class="linkBar">
          <li>
            <a
              target="_blank"
              href="https://github.com/tommacode"
              class="listLink"
              >My Github</a
            >
          </li>
          <li>
            <a
              target="_blank"
              href="https://tomhasawebsite.com"
              class="listLink"
            >
              >Other Website</a
            >
          </li>
          <li><a href="#" class="listLink">Back to the top!</a></li>
        </ul>
      </div>
      <script>
        function VisChange() {
          var vis = document.getElementById("VisOutput").innerHTML;
          if (vis == "Public") {
            document.getElementById("VisOutput").innerHTML = "Private";
          } else {
            document.getElementById("VisOutput").innerHTML = "Public";
          }
        }

        function SubmitNew() {
          var title = document.getElementById("title").value;
          var appetizer = document.getElementById("appetizer").value;
          var content = document.getElementById("Content-field").value;
          var tags = document.getElementById("tags").value;
          var visibility = document.getElementById("VisOutput").innerHTML;
          var data = {
            title: title,
            appetizer: appetizer,
            content: content,
            tags: tags,
            visibility: visibility,
          };
          var http = new XMLHttpRequest();
          http.open("POST", "/api/projects/new", true);
          http.setRequestHeader("Content-Type", "application/json");
          http.send(JSON.stringify(data));
          http.onreadystatechange = function () {
            if (http.readyState == 4 && http.status == 200) {
              document.getElementById("Response").style.display = "block";
              document.getElementById("Response").innerHTML =
                "<b>Response:</b> " + http.responseText;
            }
          };
        }
        function Preview() {
          var content = document.getElementById("Content-field").value;
          document.getElementById("previewContent").innerHTML = content;
          var wordcounter = document.getElementById("wordcount");
          var charactercounter = document.getElementById("charactercount");
          var words = content.split(" ");
          var characters = content.length;
          wordcounter.innerHTML = words.length;
          charactercounter.innerHTML = characters;
        }
        function LoadImages() {
          //Fetch "/api/showImages" to get a list of image names. For each image get the image from "/photos/". Then create this into a small preview with the image name next to it
          var http = new XMLHttpRequest();
          http.open("GET", "/api/showImages", true);
          http.send();
          http.onreadystatechange = function () {
            if (http.readyState == 4 && http.status == 200) {
              var images = JSON.parse(http.responseText);
              var imageDiv = document.getElementById("images");
              for (var i = 0; i < images.length; i++) {
                if (
                  images[i].split(".")[1] == "jpg" ||
                  images[i].split(".")[1] == "png"
                ) {
                  var image = document.createElement("img");
                  image.src = "/photos/" + images[i];
                  imageDiv.appendChild(image);
                  var imageName = document.createElement("p");
                  imageName.innerHTML = "/photos/" + images[i];
                  imageName.style.textAlign = "center";
                  imageDiv.appendChild(imageName);
                } else if (images[i].split(".")[1] == "mp4") {
                  var video = document.createElement("video");
                  //add source tags inside the video tag
                  var source = document.createElement("source");
                  source.src = "/photos/" + images[i];
                  source.type = `video/mp4`;
                  video.appendChild(source);
                  video.controls = true;
                  imageDiv.appendChild(video);
                  var imageName = document.createElement("p");
                  imageName.innerHTML = "/photos/" + images[i];
                  imageName.style.textAlign = "center";
                  imageDiv.appendChild(imageName);
                }
              }
            }
          };
        }
        function ShowTag(ID) {
          let Div = document.getElementById(`${ID}Tag`);
          if (Div.className == "hidden") {
            Div.className = "";
          } else {
            Div.className = "hidden";
          }
        }
      </script>
    </div>
  </body>
</html>
